<!DOCTYPE html>
<html>
<head>
	<title>Meet Me</title>
	<style>
		body {
			padding-top: 80px;
			text-align: center;
			font-family: monaco, monospace;
			background-size: cover;
		}
		h1, h4 {
			display: inline-block;
			background: #fff;
		}
		h1 {
			font-size: 30px
		}
		h2 {
			font-size: 20px;
		}
		span {
			background: #fd0;
		}
	</style>
</head>
<h1>Thank you for  using MeetMe </h1><br>
<h3>To see a list of available times please visit and bookmark the website listed below</h3><br>
<p style="color:blue;"> {{ g.status }} </p>
<body>

</body>
</html>